.celda{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
}

body{
    background-color:lightblue;
}

#body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#tablero{
    background-color:lightsalmon;
    width: 306px;
    height: 306px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

.turno{
    border: 1px solid black;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: red;
}

.normal{
    border: 1px solid black;
    width: 150px;
    height: 30px;
    text-align: center;
}

.marcador{
    border: 1px solid black;
    width: 150px;
    height: 30px;
    text-align: center;
    background-color: white;
}



h1{
    background-color: lightgreen;
    text-align: center;
}
